<div class="flex flex-col md:flex-row gap-4 p-4 min-h-[500px]">
    <!-- Player Stats - Full width on mobile, 5/12 on desktop -->

    <div class="w-full md:w-5/12 h-full">
        <PlayerStats />
    </div>
</div>