@inherits LayoutComponentBase

<div
  class="w-full min-h-screen bg-cover bg-center bg-no-repeat bg-fixed overflow-x-hidden"
  style="background-image: url('images/backgrounds/bg1.png');"
>
<h1>The Mysterious Tower</h1>
<h2>Version 0.0.0.2</h2>
</div>